@{
    ViewData["Title"] = "Разработчики";
}
<link href="~/css/developers.css" rel="stylesheet" />
<div class="developers">
    <h3 class="d10">Разработчики</h3>
    <div class="ddd">


        <div class="cl1">
            <div class="cl2">
                <img src="@Url.Content("imgs/саша2.jpg")" alt="саша">
            </div>
            <div class="cl3">
                <p class="p1">Зоткин Александр</p>
                <p class="p2">Backend</p>
                <br>
                <p class="p3">
                    <a href="https://www.instagram.com/alex_z_z/"><img src="@Url.Content("imgs/inst.png")" alt="Пример" class="inst"></a>
                    <a href="https://vk.com/alex_zotkin"><img src="@Url.Content("imgs/Вконтакте.png")" alt="Пример" class="vk"></a>
                </p>
            </div>
        </div>
        <br><br><br>


        <div class="cl4">
            <div class="cl3">
                <p class="p1">Михайлова Анастасия</p>
                <p class="p2">Backend</p><br>
                <p class="p3">
                    <a href="https://www.instagram.com/go_headoverheels_/"><img src="@Url.Content("imgs/inst.png")" alt="Пример" class="inst"></a>
                    <a href="https://vk.com/mikhailova.anastasia"><img src="@Url.Content("imgs/Вконтакте.png")" alt="Пример" class="vk"></a>
                </p>
            </div>
            <div class="cl2">
                <img src="@Url.Content("imgs/настя2.jpg")" alt="настя">
            </div>

        </div>

        <br><br><br>
        <div class="cl1">
            <div class="cl2">
                <img src="@Url.Content("imgs/алина.jpg")" alt="алина">
            </div>
            <div class="cl3">
                <p class="p1">Рамазанова Алина</p>
                <p class="p2">Frontend</p><br>
                <p class="p3">
                    <a href="https://www.instagram.com/_alina__r__/"><img src="@Url.Content("imgs/inst.png")" alt="Пример" class="inst"></a>
                    <a href="https://vk.com/alinessssssa"><img src="@Url.Content("imgs/Вконтакте.png")" alt="Пример" class="vk"></a>
                </p>
            </div>
        </div>
        <br><br><br>


        <div class="cl4">
            <div class="cl3">
                <p class="p1">Колесникова Екатерина</p>
                <p class="p2">Frontend</p><br>
                <p class="p3">
                    <a href="https://vk.com/id197078679"><img src="@Url.Content("imgs/inst.png")" alt="Пример" class="inst"></a>
                    <a href="https://vk.com/id197078679"><img src="@Url.Content("imgs/Вконтакте.png")" alt="Пример" class="vk"></a>
                </p>
            </div>
            <div class="cl2">
                <img src="@Url.Content("imgs/катя.jpg")" alt="катя">
            </div>

        </div>
        <br><br><br>
        <div class="cl1">
            <div class="cl2">
                <img src="@Url.Content("imgs/маша.jpg")" alt="маша">
            </div>
            <div class="cl3">
                <p class="p1">Лысенко Мария</p>
                <p class="p2">Backend</p><br>
                <p class="p3">
                    <a href="https://vk.com/lina_smor"><img src="@Url.Content("imgs/inst.png")" alt="Пример" class="inst"></a>
                    <a href="https://vk.com/lina_smor"><img src="@Url.Content("imgs/Вконтакте.png")" alt="Пример" class="vk"></a>
                </p>
            </div>
        </div>

    </div>
</div>